@media screen and (min-width: 900px) {
 
    header{
        display: flex;
        justify-content: space-between;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
    }
    .desc{
        display: block;
        position: relative;
        text-align: center;
        width: 500px;
        background-color: var(--text-bg);
        
        text-align: justify;
        max-width: 100%;
        float: right;
        bottom: 300px;
        left: 1000px;
      
    }
    nav::before{
        display: none;
    }
    nav a::after{
        color:blue;
    }

    nav ul li{
        display: block;
        padding: 5px 20px;
    }

    .section1{
        display: grid;
        grid-template-columns: 700px 770px;
        grid-template-rows: 600px 600px;
        grid-gap: 10px;
        
        
    }
     .a-img{
        grid-row: 2;
     }
    
     .a-container{
        grid-column: 2;
        grid-row: 2;
        
     }

     section, .h-img img, .a-img img{
        max-width: 100%;
     }
     .oman-history{
        width: 500px;
     }

     .oman img{
        display: flex;
        align-content: center;
        align-items: center;
     }

     .h-sect {
        background: rgb(241, 231, 250);;
        max-width: 100%;
        margin: 2rem;
        padding: 10px;
     }
     .flag{
        max-width: 100%;
     }

     .gallery {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 500px 450px;
        gap: 20px;
        align-content: center;
        align-items: center;
        margin: 0 20rem;
        max-width: 100%;

     }
     figcaption{
        position: inherit;
        align-content: center;
        text-align: center;
        font-size: 1rem;
     }


    }