section img{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h1{
    text-align: center;
}

img{
    animation:fade 15s ;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}