

body {
    font-family: "Playwrite DE Grund", system-ui;
    margin: 50px;
  }

#title {
    display: flex;
    text-align: center;
    background: rgb(58, 58, 92);
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    color: rgb(233, 235, 96);
    margin: 0px;

}

nav {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background: rgb(156, 156, 235);
    padding: 10px;
    margin-top: 0px;
   
   
}

a {
    text-decoration: none;
    color: rgb(4, 5, 12);
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    font-size: larger;

}

.links :hover {
    background: rgb(40, 43, 43);
    border-radius: 5px;
    color: rgb(242, 242, 210);
    max-width: auto;
}
main {
    display: grid;
    margin: auto;
    justify-content: center;
    grid-template-columns: 950px 550px;
    
    
}

.card{
    border-color: black;
    border-style: outset;
    border-radius: 5px;
    margin: 20px;
}


.image1 {
    
    height: auto;
    float: right;
    padding: 10px;
   
}


h2  {
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(156, 156, 235);
    padding-top: 0%;
    margin-top: 0%;
}

.image2 {
    height: auto;
    float: left;
    padding: 10px;
    

}


h3 {
    display: flex;
    border-bottom: solid ;
    border-radius: 50px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    

}
p{
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul  {
    align-items: center;
    padding-top: 100px;
}

ul :hover {
    text-decoration: underline;
    color: blue;
}

footer {
   
    text-align: center;
    background: rgb(58, 58, 92);
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    color: rgb(233, 235, 96);
    margin: 0px;

}
