:root {
    box-sizing: border-box;
}

body {
    font-family: Georgia;
    max-width: 980px;
    margin: 0 auto;
}

h1 {
    color: rgb(233, 235, 96);
}

header {
    display: flex;
    justify-content: space-between;
    background: rgb(58, 58, 92);
    padding: 20px 40px;
    border-radius: 5px;
}

main {
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

}


nav ul li {
    display: none;
    padding: 10px;
}

nav ul li a {
    color: rgb(233, 235, 96);
    text-decoration: none;
    font-size: 1.3rem;
}

nav a:visited{
    color: rgb(233, 235, 96);
}

nav ul li a:hover {
    cursor: pointer;
    color: rgb(10, 166, 238);
}

nav a:active{
    content: "📍";
}

nav ul li:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;

}
.temple-card{
    display: grid;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    background: rgb(222, 222, 243);
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 15px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.2s;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.temple-card:hover{
    transform: scale(1.02);
}

.temple-image{
   
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8);

}


nav::before {
    content: "☰";
    color: rgb(233, 235, 96);
    font-size: 40px;
    cursor: pointer;
}

nav.open::before {
    content: "❌";
    color: rgb(233, 235, 96);
    padding-left: 50px;
    font-size: 30px;
}

.open li {
    display: flex;
}

img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background: rgb(58, 58, 92);
    text-align: center;
    color: rgb(233, 235, 96);
    padding: 10px;
    font-size: 15px;
}

