:root {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    max-width: 980px;
    margin: 0 auto;
}

h1 {
    color: rgb(233, 235, 96);
}

header {
    display: flex;
    justify-content: space-between;
    background: rgb(58, 58, 92);
    padding: 20px 40px;
    border-radius: 5px;
}

main {
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

}


nav ul li {
    display: none;
    padding: 10px;
}

nav ul li a {
    color: rgb(233, 235, 96);
    text-decoration: none;
    font-size: 1.3rem;
}

nav a:visited{
    color: rgb(233, 235, 96);
}

nav ul li a:hover {
    cursor: pointer;
    color: rgb(10, 166, 238);
}

nav a:active{
    content: "📍";
}

nav ul li:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;

}
.temple-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(58, 58, 92);
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 15px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.temple-card:hover{
    transform: scale(1.02);
}

nav::before {
    content: "☰";
    color: rgb(233, 235, 96);
    font-size: 40px;
    cursor: pointer;
}

nav.open::before {
    content: "❌";
    color: rgb(233, 235, 96);
    padding-left: 50px;
    font-size: 30px;
}

.open li {
    display: flex;
}

img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background: rgb(58, 58, 92);
    text-align: center;
    color: rgb(233, 235, 96);
    padding: 10px;
    font-size: 15px;
}


/* Media Query for Mobile View */
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
        color: #fff;
        margin: 0;
    }
    
    h2 {
        color: #460646;
        margin: 1rem 0;
        text-align: center;
    }

    main {
        grid-template-columns: 1fr;
    } 

    header {
        background-color: purple;
    }

    .temple-card {
        margin: 10px;
    }

    .gallery {
        margin: 1rem;
    }

    /* Hamburger Menu */
    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        background-color: purple;
        border: 0;
        color: #fff;
        position: relative;
        right: 1rem;
    }
    
    #menu:hover {
        background-color: rgba(223, 154, 220, 0.5);
    }
    
    /* Hamburger Icon */
    #menu::before {
        content: "☰"; 
    }
    
    #menu.open::before {
        content: "X";
    }

    .navigation {
        background-color: #E6E6FA;
        flex-direction: column;
        color: #fff;
        top: 100px;
        right: 0;
        padding: .5rem 2rem;
        position: absolute;
        width: 35%;
    }

    /* Hide links by default */
    .navigation li {
        display: none;
    }

    nav a {
        padding: 1rem;
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        font-weight: 600;
        transition: 0.3s;
    }
    
    nav a:visited {
        color: midnightblue;
    }
    
    nav a:hover:visited {
        color: #36454f;
    }    

    nav a:hover{
        color: navy;
    }

    /* Show links when menu is open */
    .open li {
        display: block;
    }

    footer {
        background-color: purple;
    }
}