:root{
    box-sizing: border-box;
}

*{
    margin: 0 auto;
    max-width: 1470px;
}



h1 {
    display: flex;
    justify-content: space-between;
    background: rgb(58, 58, 92);
    padding: 20px 40px;
    margin: 0 auto;
    border-radius: 5px;
    justify-content: center;
    color: rgb(233, 235, 96);
    font-size: 3rem;
}

body{

    background: rgba(196, 203, 245, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

img {
    margin: 0 auto;
    max-width: 100%;
}
#sun {
    width: 20%;
    margin: 0;
    


}

.data, .weather{
    display: block;
    text-align: center;
    background: rgba(251, 253, 251, 0.5);
    padding-bottom: 30px;
    border-bottom: 1px solid;
    

}

h2, h3{
    padding: 10px;
    font-size: 2rem;
}


li{
    padding: 10px;
    list-style-type: none;
    
}

footer{
    background: rgb(58, 58, 92);
    text-align: center;
    color: rgb(233, 235, 96);
    padding: 10px;
    font-size: 15px;
}


@media screen and (min-width: 720px){

    main {
        position: relative;
    }
    h2{
        background: rgb(58, 58, 92);
        color: rgb(233, 235, 96);
        padding: 0;

    }

    .data, .weather{
        position:absolute;
        background: rgba(242, 245, 238, 0.4);
        color: rgb(5, 5, 3);
        padding: 5px;
        position: relative;

    }

    .data{
        float: left;
        top: -500px;
        left: 20px;
    }
    
    li{
        padding: 10px;

       
    }

    .weather{
        
        
        float: right;
        bottom: 300px;
        right: 20px;

    }

    h3{
        background: rgb(58, 58, 92);
        color: rgb(233, 235, 96);
        padding: 0;

    }

    #sun::after{
        color: yellow;
    }
}