:root{
    box-sizing: border-box;
    --back: rgb(58, 58, 92);
    --font-color: rgb(233, 235, 96);
    --back-second:rgba(196, 203, 245, 0.5);
}

*{
    margin: 0;
    max-width: 1470px;
}



h1 {
    display: flex;
    justify-content: space-between;
    background: var(--back);
    padding: 20px 40px;
    margin: 0 auto;
    border-radius: 5px;
    justify-content: center;
    color: var(--font-color);
    font-size: 3rem;
}

body{

    background: var(--back-second);
    font-family: "Roboto";

}

img {
    margin: 0 auto;
    max-width: 100%;
}
#sun {
    width: 20%;
    margin: 0;

}

.data, .weather{
    display: block;
    text-align: center;
    background: var(--back-second);
    padding-bottom: 30px;
    border-bottom: 1px solid;
    

}

h2, h3{
    padding: 10px;
    font-size: 2rem;
}


li{
    padding: 10px;
    list-style-type: none;
    font-size: 22px;
    
}

footer{
    background: var(--back);
    text-align: center;
    color: var(--font-color);
    padding: 10px;
    font-size: 15px;
    
    
}
