@media screen and (min-width: 780px) {

    header{
        display: flex;
        justify-content: space-between;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
    }

    nav::before{
        display: none;
    }

    nav ul li{
        display: block;
        padding: 5px 20px;
    }

    img{
        width: 100%;
    }

    main div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
  
   
}